<div class="page" id="page">
  {{> 02-components/01-sections/03-header }}

  <div role="main">
    <section class="hero-and-subs">
      {{# hero }}
        {{> 01-compounds/01-blocks/00-block-hero }}
      {{/ hero }}

      {{# subs }}
        {{> 01-compounds/01-blocks/01-block-sub }}
      {{/ subs }}
    </section>

    <hr>

    <div class="l-two-col">
      <div class="l-main">
        {{> 02-components/01-sections/02-latest-posts }}
      </div><!--end .l-main-->

      <div class="l-sidebar">
        {{> 02-components/01-sections/00-recent-comments }}
      </div><!--end .l-sidebar-->
    </div><!--end .l-two-col-->
  </div><!--End role=main-->

  {{> 01-compounds/00-text/01-footer }}
</div>
