&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
&Tab;{{&gt; 00-elements/04-images/00-logo.mustache }}
&Tab;&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-search icon-search&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&lt;/a&gt;
&Tab;&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
&Tab;{{&gt; 01-compounds/05-navigation/00-primary-nav }}
&Tab;{{&gt; 01-compounds/04-forms/00-search }}
&lt;/header&gt;
&lt;!-- End .header --&gt;
