&lt;form action=&quot;#&quot;&gt;
&Tab;&lt;fieldset class=&quot;options&quot;&gt;
&Tab;&Tab;&lt;legend&gt;Checkbox &lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/legend&gt;
&Tab;&Tab;&lt;ul&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;label for=&quot;checkbox1&quot;&gt;&lt;input id=&quot;checkbox1&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot; checked=&quot;checked&quot;&gt; Choice A&lt;/label&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;label for=&quot;checkbox2&quot;&gt;&lt;input id=&quot;checkbox2&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Choice B&lt;/label&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;label for=&quot;checkbox3&quot;&gt;&lt;input id=&quot;checkbox3&quot; name=&quot;checkbox&quot; type=&quot;checkbox&quot;&gt; Choice C&lt;/label&gt;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/fieldset&gt;
&lt;/form&gt;
