<section class="section hoagies">
  {{# latest_posts_title }}
    <h2 class="section-title">{{{ latest_posts_title }}}</h2>
  {{/ latest_posts_title }}
  <ul class="post-list">
    {{# latest_posts }}
      <li>{{> compounds-block-hoagie }}</li>
    {{/ latest_posts }}
  </ul>
  <a href="#" class="text-btn">View more posts</a>
</section>
