<li class="block">
  <div class="comment-meta">
    {{> elements-avatar }}
    <a class="comment-name" href="#">{{ name.first }} {{ name.last }}</a>
  </div>
  <div class="comment-text">
    <p class="{{ styleModifier }}">{{ description }}</p>
  </div>
</li>
