.section
  margin: 0 0 $space
.section-title
  margin-bottom: $space-half
.post-list
  li
    margin-bottom: $space
.headline-list
  margin-bottom: $space
  &.flush
    margin: 0
  li
    padding: $space-quarter 0
    border-top: 1px solid $gray-light-3
  time
    display: block
.text-btn
  font-style: italic
