.comments
  li
    margin-bottom: $space
.comment-meta
  float: left
  width: 6.5em
  img
    display: block
    border: 1px solid $gray-light-2
    margin-bottom: $space-half
.comment-name
  display: block
  font-size: 0.75em
  font-weight: bold
.comment-text
  margin-left: 9em
