<form action="#" method="post" class="inline-form search-form">
  <fieldset>
    <legend class="visually-hidden">Search</legend>
    <label for="search-field" class="visually-hidden">Search</label>
    <input type="search" placeholder="Search" id="search-field" class="search-field">
  </fieldset>
  <button class="search-submit">
    <span class="icon-search" aria-hidden="true"></span>
    <span class="visually-hidden">Search</span>
  </button>
</form>
