&lt;li class=&quot;comment depth-1 {{ styleModifier }}&quot;&gt;
&Tab;&lt;article class=&quot;comment-body&quot;&gt;
&Tab;&Tab;&lt;footer class=&quot;comment-meta&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;comment-author vcard&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; elements-avatar }}
&Tab;&Tab;&Tab;&Tab;&lt;b class=&quot;fn&quot;&gt;{{ name.first }} {{ name.last }}&lt;/b&gt; &lt;span class=&quot;says&quot;&gt;says:&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;comment-metadata&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;time&gt;October 1 at 12:18 am&lt;/time&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/a&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/footer&gt;
&Tab;&lt;/article&gt;
&Tab;&lt;div class=&quot;comment-content&quot;&gt;
&Tab;&Tab;&lt;p&gt;{{ description }}&lt;/p&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;reply&quot;&gt;
&Tab;&Tab;&lt;a rel=&quot;nofollow&quot; class=&quot;comment-reply-link&quot; href=&quot;#&quot; aria-label=&quot;Reply to admin&quot;&gt;Reply&lt;/a&gt;
&Tab;&lt;/div&gt;
&lt;/li&gt;
