&lt;aside id=&quot;recent-posts-2&quot; class=&quot;widget widget_recent_entries&quot;&gt;
&Tab;&lt;h2 class=&quot;widget-title&quot;&gt;Recent Posts&lt;/h2&gt;
&Tab;&lt;ul&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Headline Lorem ipsum dolor sit amet&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Laborum, molestiae, rerum, dolores eveniet &lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;quae est fugit distinctio iure odit minus non ipsum &lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;dolorum deserunt omnis voluptates voluptatum&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;nventore dignissimos vel molestiae, rerum, dolore&lt;/a&gt;&lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/aside&gt;
